/* Reset default styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Set container styles */
.container {
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  padding: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Set logo styles */
.logo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Set form styles */
.form {
  text-align: center;
}

.form h2 {
  margin-bottom: 20px;
  color: #7E177A;
  font-size: 1.5em;
}

.form-control {
  margin-bottom: 20px;
  position: relative;
}

.form-control label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-size: 0.9em;
}

.form-control input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.form-control input:focus {
  border-color: #7E177A;
}

/* .form-control i {
  position: absolute;
  right: 15px;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
} */

.form-control small {
  display: block;
  margin-top: 5px;
  color: #f44336;
}

.form button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #7E177A;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #5F005B;
}

.footer {
  margin-top: 20px;
  color: #333;
}

.footer a {
  color: #7E177A;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
